/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v12-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/mulish-v12-cyrillic_latin-regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* mulish-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v12-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/mulish-v12-cyrillic_latin-500.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* mulish-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mulish-v12-cyrillic_latin-600.woff2") format("woff2"), url("../fonts/mulish-v12-cyrillic_latin-600.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* mulish-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v12-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/mulish-v12-cyrillic_latin-700.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* settings */
@media (max-width: 500px) {
  .eiv-mobile-hide {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .eiv-mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .eiv-tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .eiv-tablet-visible {
    display: none !important;
  }
}

.eiv-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
}
.eiv-row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

.eiv-wrapper {
  width: 100%;
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .eiv-wrapper {
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .eiv-wrapper {
    padding-right: 20px;
  }
}

.eiv-page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.eiv-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.eiv-navpage {
  font-family: "Mulish";
  color: #2D2D2D;
  padding: 100px 0;
}
.eiv-navpage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.eiv-navpage ul {
  font-size: 18px;
}
.eiv-navpage ul li {
  margin: 10px 0;
}

/* /settings */
/* counter */
.eiv-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid rgba(45, 45, 45, 0.1);
}
.eiv-counter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  color: #ccc;
  fill: #ccc;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.eiv-counter__btn svg {
  width: 14px;
  height: 14px;
}
.eiv-counter__btn:hover {
  fill: #2d2d2d;
}
.eiv-counter__input {
  width: 78px;
  height: 100%;
  position: relative;
}
.eiv-counter__input input {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
}

/* /counter */
/* eiv-btn */
.eiv-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.eiv-btn--brown {
  background-color: #750B0B;
  color: #fff;
}
@media (min-width: 1051px) {
  .eiv-btn--brown:hover {
    background-color: #8c0d0d;
  }
}

/* /eiv-btn */
/* eiv-select */
.eiv-select__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 5px;
  color: #000;
}
.eiv-select__name span {
  color: #750B0B;
}
.eiv-select__select {
  position: relative;
}
.eiv-select__select:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7.5L10.6667 13.125L4.16675 7.5' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.eiv-select__select select {
  width: 100%;
  height: 46px;
  padding-left: 16px;
  padding-right: 48px;
  border: 1px solid #E8E8E8;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.eiv-select__select select::-ms-expand {
  display: none;
}

/* /eiv-select */
/* eiv-input */
.eiv-input {
  position: relative;
}
.eiv-input__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 5px;
  color: #000;
}
.eiv-input__name span {
  color: #750B0B;
}
.eiv-input input {
  width: 100%;
  height: 46px;
  padding: 0 16px;
  background-color: #F5F5F5;
  border: 1px solid transparent;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}
.eiv-input input::-webkit-input-placeholder {
  color: #666;
}
.eiv-input input::-moz-placeholder {
  color: #666;
}
.eiv-input input:-ms-input-placeholder {
  color: #666;
}
.eiv-input input::-ms-input-placeholder {
  color: #666;
}
.eiv-input input::placeholder {
  color: #666;
}
.eiv-input input::-webkit-outer-spin-button, .eiv-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.eiv-input input[type=number] {
  -moz-appearance: textfield;
}
.eiv-input input.input-error {
  border-color: #FA1A1A;
}
.eiv-input input.input-error ~ .eiv-input__message {
  display: block;
}
.eiv-input__message {
  display: none;
  color: #FA1A1A;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  top: 100%;
  left: 0;
}

/* /eiv-input */
/* eiv-checkbox */
.eiv-checkbox {
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.eiv-checkbox input {
  position: absolute;
  visibility: hidden;
}
.eiv-checkbox input:checked ~ .eiv-checkbox__rectangle {
  background-color: #750B0B;
}
.eiv-checkbox input:checked ~ .eiv-checkbox__rectangle:after {
  opacity: 1;
}
.eiv-checkbox__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #666;
  position: absolute;
  top: 3px;
  left: 0;
}
.eiv-checkbox__rectangle:after {
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.14264 3.04493L1 3.18947L4 6L8.5 1.29038L8.35736 1.14583L8.21344 1L4 5.41925L1.28656 2.8991L1.14264 3.04493Z' fill='white' stroke='white' stroke-width='0.8'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
.eiv-checkbox__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.16px;
}

/* /eiv-checkbox */
/* eiv-textarea */
.eiv-textarea {
  position: relative;
}
.eiv-textarea__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 5px;
  color: #000;
}
.eiv-textarea__name span {
  color: #750B0B;
}
.eiv-textarea textarea {
  width: 100%;
  height: 46px;
  padding: 13.5px 16px;
  background-color: #F5F5F5;
  border: 1px solid transparent;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  resize: none;
}
.eiv-textarea textarea::-webkit-input-placeholder {
  color: #666;
}
.eiv-textarea textarea::-moz-placeholder {
  color: #666;
}
.eiv-textarea textarea:-ms-input-placeholder {
  color: #666;
}
.eiv-textarea textarea::-ms-input-placeholder {
  color: #666;
}
.eiv-textarea textarea::placeholder {
  color: #666;
}

/* /eiv-textarea */
/* eiv-cart */
.eiv-cart {
  padding: 30px 0;
  font-family: "Mulish";
  color: #2d2d2d;
}
.eiv-cart .eiv-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eiv-cart__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 50px;
}
.eiv-cart__sidebar {
  width: 380px;
}
.eiv-cart__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 20px;
  color: #750B0B;
}
.eiv-cart__title--mb10 {
  margin-bottom: 10px;
}
.eiv-cart__subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #750B0B;
}
.eiv-cart__products {
  margin-bottom: 30px;
}
.eiv-cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.67);
  position: relative;
}
.eiv-cart__product-img {
  width: 90px;
  height: 150px;
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
}
.eiv-cart__product-img img {
  max-height: 100%;
}
.eiv-cart__product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 5px 0;
}
.eiv-cart__product-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 30px;
}
.eiv-cart__product-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 10px;
}
.eiv-cart__product-title a {
  color: #2d2d2d;
  text-decoration: none;
}
@media (min-width: 1051px) {
  .eiv-cart__product-title a:hover {
    color: #676767;
  }
}
.eiv-cart__product-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.eiv-cart__product-select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 10px;
  width: 120px;
}
.eiv-cart__product-select {
  position: relative;
}
.eiv-cart__product-select:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.64648 7.09338L7.99982 9.44005L10.3532 7.09338' stroke='%232D2D2D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 5px;
  pointer-events: none;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.eiv-cart__product-select select {
  min-width: 90px;
  height: 35px;
  padding-left: 10px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.eiv-cart__product-select select::-ms-expand {
  display: none;
}
.eiv-cart__product-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.eiv-cart__product-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px;
}
.eiv-cart__product-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.eiv-cart__product-price-old {
  margin-bottom: 10px;
  text-decoration: line-through;
  color: #aaa;
  white-space: nowrap;
}
.eiv-cart__product-price {
  white-space: nowrap;
}
.eiv-cart__product-favorite {
  margin-top: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.eiv-cart__product-favorite input {
  position: absolute;
  visibility: hidden;
}
.eiv-cart__product-favorite input:checked ~ span:before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.49196 13.3318L7.25223 13.5743L7.13339 13.4567C7.05682 13.3807 6.94568 13.2706 6.80777 13.1335C6.53191 12.8594 6.14859 12.4777 5.71876 12.0469C4.85978 11.1864 3.81265 10.128 3.06646 9.34367C2.41498 8.65885 1.77109 7.9814 1.2927 7.30776C0.814883 6.63489 0.470703 5.92364 0.470703 5.16708C0.470703 2.85508 2.30449 1.32715 4.09638 1.32715C5.71375 1.32715 6.62712 2.16811 7.49959 3.12818C8.37702 2.15753 9.27634 1.32715 10.904 1.32715C12.7124 1.32715 14.5298 2.9571 14.5298 5.16708C14.5298 5.9291 14.1724 6.64238 13.6848 7.3137C13.2246 7.94717 12.617 8.58433 12.005 9.22606C11.9676 9.26526 11.9301 9.30461 11.8927 9.34388C11.1464 10.1272 10.1058 11.185 9.25323 12.0457C8.82661 12.4764 8.44657 12.8582 8.17316 13.1323C8.03646 13.2694 7.92641 13.3796 7.85052 13.4554L7.73332 13.5726L7.49196 13.3318ZM7.49196 13.3318L7.73332 13.5726L7.49312 13.8124L7.25223 13.5743L7.49196 13.3318Z' fill='%23C01F1F'/%3E%3C/svg%3E%0A");
}
.eiv-cart__product-favorite span {
  display: block;
  padding-left: 20px;
  position: relative;
}
.eiv-cart__product-favorite span:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.09638 2.00897C2.67042 2.00897 1.15252 3.24217 1.15252 5.16708C1.15252 5.71591 1.40342 6.28607 1.84861 6.91299C2.2927 7.53836 2.89885 8.17824 3.55816 8.87131L7.49318 12.8484C7.55032 12.7912 7.61646 12.7249 7.69036 12.6508C7.96343 12.3771 8.34286 11.9959 8.7688 11.5659C9.62121 10.7054 10.6577 9.65165 11.399 8.87356C11.4327 8.83824 11.4662 8.80306 11.4996 8.76808C12.1229 8.11422 12.7008 7.50815 13.1331 6.91299C13.5893 6.285 13.8479 5.71541 13.8479 5.16708C13.8479 3.33058 12.3328 2.00897 10.904 2.00897C9.45171 2.00897 8.72523 2.77236 7.75521 3.86539L7.50089 4.152L7.24582 3.86601C6.28287 2.78625 5.53889 2.00897 4.09638 2.00897ZM7.49196 13.3318L7.25223 13.5743L7.13339 13.4567C7.05682 13.3807 6.94568 13.2706 6.80777 13.1335C6.53191 12.8594 6.14859 12.4776 5.71876 12.0469C4.85978 11.1864 3.81265 10.128 3.06646 9.34367C2.41498 8.65885 1.77109 7.9814 1.2927 7.30776C0.814883 6.63489 0.470703 5.92364 0.470703 5.16708C0.470703 2.85508 2.30449 1.32715 4.09638 1.32715C5.71375 1.32715 6.62712 2.16811 7.49959 3.12818C8.37702 2.15753 9.27634 1.32715 10.904 1.32715C12.7124 1.32715 14.5298 2.9571 14.5298 5.16708C14.5298 5.9291 14.1724 6.64238 13.6848 7.3137C13.2246 7.94717 12.617 8.58433 12.005 9.22606C11.9676 9.26526 11.9301 9.30461 11.8927 9.34388C11.1464 10.1272 10.1058 11.185 9.25323 12.0457C8.82661 12.4764 8.44657 12.8582 8.17316 13.1323C8.03646 13.2694 7.92641 13.3796 7.85052 13.4554L7.73332 13.5726L7.49196 13.3318ZM7.49196 13.3318L7.73332 13.5726L7.49312 13.8124L7.25223 13.5743L7.49196 13.3318Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.eiv-cart__product-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.eiv-cart__product-close:after, .eiv-cart__product-close:before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #aaa;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.eiv-cart__product-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.eiv-cart__product-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 1051px) {
  .eiv-cart__product-close:hover:after, .eiv-cart__product-close:hover::before {
    background-color: #750B0B;
  }
}
.eiv-cart__sidebar-block {
  padding: 30px 20px;
  background-color: #F5F5F5;
}
.eiv-cart__sidebar-block .eiv-cart__subtitle {
  margin-bottom: 20px;
}
.eiv-cart__sidebar-list {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
.eiv-cart__sidebar-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.eiv-cart__sidebar-list li:last-child {
  margin-bottom: 0;
}
.eiv-cart__sidebar-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #750B0B;
  margin-bottom: 20px;
}
.eiv-cart__sidebar-result span {
  line-height: 150%;
  letter-spacing: 0;
  color: #000;
}
.eiv-cart__sidebar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.eiv-cart__sidebar-form input {
  width: 100%;
  height: 35px;
  padding: 0 16px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 0.7px solid #666;
  background: #F5F5F5;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.eiv-cart__sidebar-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  margin-left: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #666;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.eiv-cart__sidebar-form-btn:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 5.2334L12.5 10.3L8 15.5' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
@media (min-width: 1051px) {
  .eiv-cart__sidebar-form-btn:hover {
    background-color: #750B0B;
  }
}
.eiv-cart__sidebar-btn .eiv-btn {
  width: 100%;
}
.eiv-cart__block {
  margin-bottom: 23px;
}
.eiv-cart__block--mb-30 {
  margin-bottom: 30px;
}
.eiv-cart__form {
  max-width: 920px;
}
.eiv-cart__form .eiv-row {
  margin-top: -20px;
}
.eiv-cart__form .eiv-row > * {
  margin-top: 20px;
}
.eiv-cart__form .mb-20 {
  margin-bottom: 20px;
}
.eiv-cart__form .mb-30 {
  margin-bottom: 30px;
}
.eiv-cart__form-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #000;
  margin-bottom: 20px;
}
.eiv-cart__delivery {
  margin-bottom: 20px;
}
.eiv-cart__delivery:last-child {
  margin-bottom: 0;
}
.eiv-cart__delivery .eiv-cart__checkbox input:checked ~ .eiv-checkbox__text {
  font-weight: 600;
}
.eiv-cart__checkbox {
  margin-bottom: 5px;
}
.eiv-cart__form-list {
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.14px;
  margin-bottom: 20px;
}
.eiv-cart__form-list li {
  margin-bottom: 5px;
}
.eiv-cart__form-list li:last-child {
  margin-bottom: 0;
}
.eiv-cart__form-btn .eiv-btn {
  width: 100%;
}
.eiv-cart__subscribe {
  margin-left: auto;
  margin-top: 10px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.14px;
}
.eiv-cart__subscribe p {
  margin-bottom: 5px;
}
.eiv-cart__subscribe .eiv-checkbox__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.14px;
}
.eiv-cart__subscribe .eiv-checkbox__rectangle {
  margin-top: -2px;
}
.eiv-cart__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eiv-cart__gender > *:nth-child(1) {
  margin-right: 30px;
}
.eiv-cart__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.eiv-cart__text--brown {
  color: #750B0B;
}
.eiv-cart__text a {
  color: #2d2d2d;
  text-decoration: underline;
}
.eiv-cart__hide-content {
  display: none;
}
.eiv-cart__hide-content.eiv-show {
  display: block;
}
.eiv-cart__col-5 {
  width: 45.8333333333%;
}
.eiv-cart__col-3 {
  width: 27.0833333333%;
}
.eiv-cart__col-6 {
  width: 50%;
}
@media (max-width: 1050px) {
  .eiv-cart .eiv-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .eiv-cart .eiv-cart__main {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
  }
  .eiv-cart .eiv-cart__sidebar {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .eiv-cart {
    padding: 25px 0;
  }
  .eiv-cart__product {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .eiv-cart__product-img {
    width: 80px;
    height: 133px;
    margin-right: 10px;
  }
  .eiv-cart__product-content {
    display: block;
    width: calc(100% - 90px);
  }
  .eiv-cart__product-bottom {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .eiv-cart__product-select-wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .eiv-cart__product-counter {
    margin-left: 0;
    margin-right: 0;
  }
  .eiv-cart__product-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .eiv-cart__product-text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .eiv-cart__product-select-wrap {
    width: auto;
  }
  .eiv-cart__product-select select {
    height: 25px;
    min-width: 0;
    border-color: transparent;
    padding-left: 0;
    font-size: 14px;
    text-align: left;
  }
  .eiv-cart__sidebar-block {
    padding: 20px 10px;
  }
  .eiv-cart__title {
    font-size: 20px;
  }
  .eiv-cart__title--mb10 {
    margin-bottom: 0;
  }
  .eiv-cart__product-prices {
    text-align: right;
  }
  .eiv-cart__product-price-old {
    font-size: 12px;
    margin-bottom: 0;
  }
}

/* /eiv-cart */