extends core/base.pug

block title 
  title Навигация по страницам

block content

  .eiv-page 

    //- include core/header.pug

    .eiv-wrapper 

      .eiv-navpage 
        .eiv-container
          h1 Навигация по страницам
          ul 
            li 
              a(href="cart.html") Корзина 
            li 
              a(href="thank.html") Страница "спасибо"

    //- include core/footer.pug
